name: Graphs CI
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  graphs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: upptime/graphs-generator@v1.2.27
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
