name: Graphs CI
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  graphs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: upptime/graphs@v1.2.18
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
