name: Static Site CI
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - main
  repository_dispatch:
    types: [static-site]

permissions:
  contents: write
  pages: write

jobs:
  site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: upptime/status-page@v1.17.0
        env:
          GH_PAT: ${{ secrets.GITHUB_TOKEN }}
