name: Static Site CI
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: upptime/status-page@v1.36.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
