name: Summary CI
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  summary:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: upptime/summary@v1.3.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
